<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.his.prescription.mapper.PrescriptionCostMapper">
    <insert id="addPrescriptionCost">
        insert prescription_cost values (null,#{prescription_id},#{cost_id})
    </insert>
</mapper>    